---
layout: page
title: "About"
description: "Hey, this is Xiaoxi."
header-img: "img/about-bg.jpg"
---



<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>
        业余CTF选手，偶尔搞搞开发。 <br>
    一位梦想当厨神的黑暗料理师。</p></blockquote>

    <p><h3>默小西</H3></p>

    <p>幼时玩闹时，耍出来的小名。一场玩闹，一个名字。<br> 
        该博客主要写一些个人的杂谈，偶尔写一写编程与安全相关的知识。<br> 
          如果你觉得我很有趣，值得成为你的朋友。可以随时在博客下<a href="#comments">留言 </a>或者通过 <a href="mailto:{{ site.email }}?subject=Interested+In+Your+Blog+Posts" target="_blank">邮件</a> 联系我！</p>

        <table id="content">
    <tr>
    <h4>目前状况:</h4>
    <div class="content-left1">
        <p>CTF: Redbud、Blue-Lotus、Tea-Deliverers。
            <br>学习: 清华大学网络与信息安全实验室研究生。
            <br>兴趣: 协议漏洞挖掘、APT攻防对抗、数据驱动安全研究。
            <br>简介: 具有丰富的安全研究及攻防渗透经验，曾多次在DEFCON、HITCON等知名CTF竞赛中获奖，在GeekPwn2019获得冠军，并曾在ISC、XCTF Final等知名会议分享相关安全技术议题与研究。</p>
            <br>学术博客: <a href="https://shenkaiwen.com">Academic Blog</a>
        </div>

    <div class="content-right1"><p></p></div>
    </tr>
    </table>
    </div>




{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    data-thread-key="{{site.duoshuo_username}}/about"

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
{% if site.gitalk %}
<div id="gitalk-container"></div>

<!-- 引入 gitalk -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
<!-- 引入 MD5 加密算法 -->
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>

<script type="text/javascript">
    var gitalk = new Gitalk({
      clientID: '{{site.gitalk.clientID}}',
      clientSecret: '{{site.gitalk.clientSecret}}',
      repo: '{{site.gitalk.repo}}',
      owner: '{{site.gitalk.owner}}',
      admin: '{{site.gitalk.admin}}',
      id: md5(location.pathname),   
      createIssueManually: '{{site.gitalk.createIssueManually}}',
      distractionFreeMode: '{{site.gitalk.distractionFreeMode}}'
    });

    gitalk.render('gitalk-container');
</script>
{% endif %}