<div class="center">
    <a class="button" href="{{ site.url }}" >Blog</a>
    <a class="button" href="http://momomoxiaoxi.com/#xiaoxi-home">About Me</a>
    <a class="button" href="http://zhangwenli.com/#projects" >Projects</a>
    <a class="button" href="mailto:momomoxiaoxi.gamil.com" target="_blank" >Email Me</a>
    <a class="button" href="{{ site.url }}/meta" target="_blank" >Site Map</a>
</div>

<p><strong>默小西</strong></p>

<p>I‘m<em>Xiaoxi</em> and this blog is concerned about <em>Web Front-End</em>, my book reviews and other interesting topics. Please feel free to <a href="#comments">leave a comment</a> or contact me by <a href="mailto:momomomoxiaoxi@gmail.com?subject=Interested+In+Your+Blog+Posts" target="_blank">email</a> if you have any question.</p>

    <div class="follow-me">
        <div class="follow-me-txt">Follow <strong>Xiaoxi Mo</strong> at</div>
        {% include follow.html %}
    </div>
<p class="center"><a class="button" href="{{ site.url }}/tip" >打赏一杯咖啡！</a></p>
