<div class="center">
    <a class="button" href="{{ site.url }}" >Blog</a>
    <a class="button" href="{{ site.url }}/#xiaoxi-home">About Me</a>
    <a class="button" href="{{ site.url }}/#projects" >Projects</a>
    <a class="button" href="mailto:{{ site.email }}" target="_blank" >Email Me</a>
    <a class="button" href="{{ site.url }}/meta" target="_blank" >Site Map</a>
</div>

<p><strong>默小西</strong></p>

<p>I‘m<em>Xiaoxi</em> and this blog is concerned about <em>Web Front-End</em>, my book reviews and other interesting topics. Please feel free to <a href="#comments">leave a comment</a> or contact me by <a href="mailto:{{ site.email }}?subject=Interested+In+Your+Blog+Posts" target="_blank">email</a> if you have any question.</p>


<style type="text/css">
#content
  {
  
  width:100%;
  border-collapse:collapse;
  }
#content td, #content th 
  {
  font-size:1em;
  border:1px solid #cccccc;
  border-radius :3px;
  padding:3px 7px 2px 7px;
  }

#content th 
  {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
  }

.center-right{

}

</style>


	<table id="content">
<tr>
<td colspan="2" class="title"><h2>目前状况：</h2></td>
</tr>
<tr>
<td>	<div class="content-left1"><h3>学业</h3><p>大三狗 操作系统 密码学 通信原理 物联网 软件工程 </p></div></td>
<td>	<div class="content-right1"><h3>SIT</h3><p>无线传感网下的入侵检测系统：<strong>NBIDS</strong></p></div></td>
</tr>

<tr>
<td><div class="content-left2"><h3>安全</h3><p>1.可视化大数据安全<br>2.业余CTF选手</p></div></td>
<td><div class="content-right2"><h3>兼职</h3><p>1.Cocos2d-x游戏搬砖开发者<br>2."帽子戏法"翻译小组负责人</p></div></td>
</tr>
</table>


    <div class="follow-me">
        <div class="follow-me-txt">Follow <strong>Xiaoxi Mo</strong> at</div>
        {% include follow.html %}
    </div>
<p class="center-right"><a class="button" href="{{ site.url }}/tip" >打赏一杯咖啡！</a></p>
