            <div id="footer-nav">
                | <a href="#">Top</a> | 
                <a href="{{ site.url }}">Blog</a> | 
                <a href="http://momomoxiaoxi.com/#moxiaoxi-home">About Me</a> |
                <a href="mailto:{{ site.email }}" target="_blank">Email</a> |
                <a href="{{ site.url }}/feed.xml">RSS</a> | 
                <a href="{{ site.url }}/meta">More</a> |
            </div>
            
            <div id="footer-follow">
              <!--a class="footer-follow-element footer-follow-twitter" href="https://twitter.com/" target="_blank" title="Follow me on Twitter" ></a-->
                <a class="footer-follow-element footer-follow-google" href="https://plus.google.com/" target="_blank" title="Follow me on Google Plus" ></a>
                <a class="footer-follow-element footer-follow-github" href="https://github.com/momomoxiaoxi" target="_blank" title="Follow me on GitHub" ></a>
                <!--a class="footer-follow-element footer-follow-so" href="http://stackoverflow.com/users/760314/ovilia" target="_blank" title="Follow me on StackOverflow" ></a-->
                <!--a class="footer-follow-element footer-follow-linkedin" href="http://www.linkedin.com/" target="_blank" title="Follow me on LinkedIn" ></a-->
                <a class="footer-follow-element footer-follow-douban" href="http://www.douban.com/" target="_blank" title="Follow me on Douban" ></a>
            </div>
        </div>
        
        <div id="footerDiv">
            <div id="footerImg"></div>
            <div id="footerCnt">
                <div id="footer">
                </div>  
            </div>
        </div>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
            
        <script type="text/javascript" src="{{ site.url }}/js/lazyLoad.js"></script>
        <script type="text/javascript" src="{{ site.url }}/js/common.js"></script>
    </body>
</html>
