<h1 id="friendTitle">友情链接</h1>
<div id="friendDiv">
	    <!--div class="friend fri_xinxin">
        <a href="http://ycjcl.cc" target="_blank" title="Xin Xin" >
            <img src="./img/loading.gif" data-src="./img/xinxin.png" />
        </a>
    </div-->
    <p>
    <h5><a href="http://ycjcl.cc" target="_blank" >&nbsp&nbsp&nbsp&nbsp信&nbsp&nbsp鑫</a></h5><br>
    <h5><a href="http://chiahao.top/" target="_blank" >&nbsp&nbsp&nbsp&nbsp家&nbsp&nbsp浩</a></h5><br>
		欢迎友情链接！<br>
		请发<a href="mailto:{{ site.email }}" target="_blank" >email</a>联系我
     </p>
</div>
