<h1 id="friendTitle">Blogroll</h1>
<div id="friendDiv">
	    <div class="friend fri_xinxin">
        <a href="http://ycjcl.cc" target="_blank" title="Xin Xin" >
            <img src="./img/loading.gif" data-src="./img/xinxin.png" />
        </a>
    </div>
<div class="friend fri_chentian">
        <a href="http://bigtinabang.com" target="_blank" title="Chen Tian" onclick="_gaq.push(['_trackEvent', 'ToFriend', 'ChenTian', window.location.pathname]);">
            <img src="/blog/img/loading.gif" data-src="/blog/img/chen-tian128.png" />
        </a>
    </div>
    <p>
    <a href="http://ycjcl.cc" target="_blank" >信鑫</a> |
		欢迎友情链接！
		请发
        <a href="mailto:{{ site.email }}" target="_blank" >email</a>联系我
     </p>
</div>
