<div class="about-author">
    <div class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
            <img alt="Creative Commons License" style="border-width:0" src="{{ site.url }}/img/cc.png" />
        </a>
        <div><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type"><br><br>本博客是基于Wenli Zhang的博客为基础修改搭建的。在此，再次感谢wenli的源码共享。本博客的所有源码均已共享，并遵守CC 3.0 协议，你可以从我的<a href="https://github.com/momomoxiaoxi/myblog/tree/gh-pages" target="_blank">github库</a>得到所有源码.若你打算采用本博客的源码，请务必请求Wenli Zhang与我的许可 。</div>

</div>
    <div class="follow-me">
        <div class="follow-me-txt">Follow <strong>Xiaoxi Mo</strong> at</div>
        
        {% include follow.html %}
    </div>
    <div style="clear: both"></div>
</div>
