<blockquote class="seriesNote">
    <h4>系列博文：{{ page.series }}</h4>

    
    <ul>
    {% if page.series == '送 xiaoxi 一本书，让他写出更棒的作品' %}
        <li class="series-not-self"><a href="{{ site.url }}/tip/">送 Xiaoxi 一本书，让他写出更棒的作品！</a></li>
    {% endif %}
    {% for post in site.posts reversed %}
        {% if post.series == page.series %}
            {% if page.url != post.url %}
                <li class="series-not-self"><a href="{{ site.url }}{{ post.url }}" >
            {% else %}
                <li class="series-self">
            {% endif %}
            
                {{ post.title }}{% if post.subtitle != null %}：{{ post.subtitle }}{% endif %}
    
            
            {% if page.url != post.url %}
                </a>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
</blockquote>
