---
layout: titled
title: 静观己心，厚积薄发
subtitle: Notes of Xiaoxi Mo
---

{% include aboutMe.html %}

<h2>What are notes?</h2>
<p>Unlike <a href="{{ site.url }}">blog posts</a>, notes are more frequently updated knowledge.</p>

{% for post in site.posts %}
    {% if post.category == 'note' %}
    <div class="post-block">
        {% assign time = post.time %}
        {% if post.update_time %}
            {% assign time = post.update_time %}
        {% endif %}
        <div class="timeago" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ time }}</div>
        {% if post.series %}
        <a href="{{ site.url }}{{ post.url }}" class="series-recent" >Series: {{ post.series }}</a>
        {% endif %}
        <h2><a href="{{ site.url }}{{ post.url }}" >{% if post.subtitle != null %}{{ post.subtitle }} {% endif %}{{ post.title }}</a></h2>

        <div class="tagPanel">
        {% for tag in post.tags %}
            <a href="{{ site.url }}/all?tag={{ tag }}" ><div class="tag">{{ tag }}</div></a>
        {% endfor%}
        </div>

        {{ post.excerpt | markdownify }}
    </div>
    {% endif %}
{% endfor %}
