{% include header.html %}

        <title>{{ site.name }} - 小西的博客</title>

            <div class="rotLeft rotTop pageBack"></div>
            <div class="rotRight rotTop pageBack"></div>
            <div class="container page">
                <div class="simpleNav">
                    <a href="{{ site.url }}/#xiaoxi-home" >Home</a>
                </div>
                <h2 class="subtitle">
                    Welcome
                    <a class="title-img" href="{{ site.url }}/feed.xml" title="RSS of Xiaoxi Mo" target="_blank" >
                        <img src="/img/rss.png" />
                    </a>
                </h2>
                <div class="pageTitle center">Blog of Xiaoxi</div>
                
                {% include aboutMe.html %}
               
 
                <h1>博文<a class="title-img" href="{{ site.url }}/feed-cn.xml" title="订阅博客RSS" target="_blank" ><img src="{{ site.url }}/img/rss.png" /></a></h1>
                {% for post in paginator.posts %}
                     <div class="post-block cn">
                        {% assign time = post.time %}
                        <div class="timeago cn" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ time }}</div>

                        <h5 class="post-series">
                            {% if post.series %}
                            <a href="{{ site.url }}{{ post.url }}" class="series-recent" >系列博文：{{ post.series }}</a>
                            {% endif %}
                        </h5>
                        <h2>
                            <a href="{{ site.url }}{{ post.url }}" >{{ post.title }}{% if post.subtitle != null %}：{{ post.subtitle }}{% endif %}</a>
                        </h2>

                        <div class="tagPanel">
                        {% for tag in post.tags %}
                            <a href="{{ site.url }}/all?tag={{ tag }}" ><div class="tag">{{ tag }}</div></a>
                        {% endfor%}
                        {% if post.category == 'note' %}
                            <a href="{{ site.url }}/notes" ><div class="tag">笔记</div></a>
                        {% endif %}
                        </div>
                        {{ post.excerpt | markdownify }}
                    </div>

                {% endfor %}

                <div class="pagination">
                 <span class="page_number">第{{ paginator.page }}页，共{{ paginator.total_pages }}页</span>
                {% if paginator.previous_page %}
                    {% if paginator.previous_page == 1 %}
                    <a href="/" class="previous" >上一页</a>
                    {% else %}
                    <a href="/page{{ paginator.previous_page }}" class="previous" >上一页</a>
                    {% endif %}
                {% endif %}

                {% if paginator.next_page %}
                <a href="/page{{ paginator.next_page }}" class="next" >下一页</a>
                {% endif %}
                <a href="/all/" class="allPostLink" >所有博文</a>
                </div>

                {% include license.html %}

                {% if paginator.page == 1 %}
                    {% include friends.html %}
                    {% include comment.html %}
                {% endif %}
            </div>
            <div class="rotLeft rotBottom pageBack"></div>
            <div class="rotRight rotBottom pageBack"></div>

{% include footer.html %}
